.menu{
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  min-height: 100%;
  border-right: solid silver 3px;
  width:16rem;
}

.sidebar-logo{
  background-color: #27374d;
  color: #dde6ed;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 0 5px;
 
 
}
.logo-icon{
  font-size: 3rem !important;
}


.sidebar-logo h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.8rem;
}
.menu--list{
  display: flex;
  flex-direction: column;
 
}
.menu--list .item{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  gap:15px;
  font-weight: 600;
  margin: 2px 10px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 11px;
  height: 40px;
  transition: 0.1s ease-in-out;
  border-left: solid transparent 4px;
  color: #27374d;
}

.menu--list .item:hover{
  background: rgba(39, 55, 77, 0.5);
  border-left-color: #27374d;
  padding-left: 16px; 
  transition: .4s;
}

.menu--list .item.active{
  background: #27374d;
  color: #dde6ed;
  transition: .4s;
}
