.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94dvh;
  }
  .logo{
    text-align: center;
    padding: 10px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .logo-icon{
    font-size: 1.8rem;
  }
  
  .admin-menu-list{
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .admin-menu-list .admin-menu-item{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
    margin: 0 10px;
    color: #27374d;
  }

  .admin-menu-list .admin-menu-item:hover{
    background: rgba(39, 55, 77, 0.5);
    border-left-color: #27374d;
    padding-left: 16px; 
    transition: .4s;
  }
  
  .admin-menu-list .admin-menu-item.active{
    background: #27374d;
    color: #dde6ed;
    transition: .4s;
  }