.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94dvh;
  }
  .logo{
    text-align: center;
    padding: 10px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 5px;
  }
  .logo-icon{
    font-size: 1.8rem;
  }
  
  .admin-menu-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .admin-menu-list .admin-menu-item{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    color: #27374d;
    margin: 0 10px;
  }
  
  .admin-menu-list .admin-menu-item{
    background: #27374d;
    color: #dde6ed;
  }