.tasks-container{
    padding:0 1rem 1rem;
}
.tasks-title{
    text-align: center;
    font-size: 2rem;
}
.tasks-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tasks-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.task-cell{
    padding-bottom: 10px;

}
.task-cell a{
    text-decoration:none;
    color:black;
}
.fc-task-icon{
    transform: translateY(9px);
}
.task-title{
    font-weight: bold;
    font-size: large;
    margin: 0 10px;
}
.add-task{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.tasks{
    padding: .3rem;
    border-radius: 5px;
    display: flex;
    gap:1rem;
    cursor: pointer;
    min-height: 2rem;
    align-items: center;
}
.folder-icon, .task-name{
    font-size: 1.3rem !important;
} 
.tasks:hover{
    background: #B9D9EB;
    transition: .4s;
} 