@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&display=swap');
.container{
    font-family: "Noto Sans Tamil", sans-serif;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 40px;
}
.box{
  width: 350px;
}
.select{
    width: 100px;
    height: 30px;
}
.copy{
  margin-left: 20px !important;
}
.icon{
  margin: auto;
  font-size: 16pt;
}
.middle{
  display: flex;
  flex-direction: column;
  gap: 10px;
}