@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&display=swap');
.container{
  font-family: "Noto Sans Tamil", sans-serif;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px;
}
.box{
  width: 350px;
  height: 370px;
  flex-shrink: 1;
}
.select{
    width: 100px;
    height: 30px;
    border-radius: 5px;  
}
.c-s{
  display: flex;
  color: #27374d;
  position: relative;
  right: 190px;
  bottom: 185px;
  justify-content: flex-end;
 
}
.c-s:hover{
  cursor: pointer;
}
 .copy{
  margin-left: 20px !important;
  font-size: 20px;
} 
.speak{
  margin-left: 20px !important;
  font-size: 22px;
}
.icon{
  margin: auto;
  font-size: 16pt;
}
.middle{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  
}
.btn-tra{
  color: #dde6ed;
  background-color: #27374d;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  font-size: 18px;
}
.btn-tra:hover{
  cursor: pointer;
}

.dropdown{
  border-radius: 5px;
}
.section-left{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  position: relative;
  bottom: 20px;
}
.section-right{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  position: relative;
  bottom: 20px;
  right: 70px;
}
