
.simple-loader{
    text-align: center;
    background: transparent;
    display: inline-block;
    vertical-align: top;
  }
  #Layer_1
  {
    enable-background: new 0 0 50 50;
  }
  /*
    Set the color of the icon
  */
  .load-rect{
    fill: #27374d;
  }