.dashboard{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.dashboard--content{
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 17%;
    gap: 1.5rem;
    justify-content: space-between;
    overflow:auto;
}